{% extends 'base.html' %}
{% block title %}
  Login Page
{% endblock title %}
{% block content %}
  <div class="max-w-xl mx-auto flex flex-wrap py-6 px-6 p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl">
      <h1 class="mb-6 text-2xl">Login</h1>
      <form action="." method="post" class="space-y-3">
        {% csrf_token %}
        <div>
          <label for="">Username</label>
          <input type="text"
                 class="w-full mt-2 py-4 px-6 bg-white rounded-xl"
                 name="username"/>
        </div>
        <div>
          <label for="">Password</label>
          <input type="password"
                 class="w-full mt-2 py-4 px-6 bg-white rounded-xl"
                 name="password"/>
        </div>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <p>{{ error|escape }}</p>
              </div>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <div>
          <button class="py-4 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
